<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.title }}</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../songs.js" defer></script>
</head>
<body>
    <div class="header-container">
        <h1>Śpiewnik Online</h1>
        <nav class="nav-menu">
            <a href="../index.html">Strona Główna</a>
            <a href="../Lyrics.html" class="active">Piosenki</a>
            <a href="../transponuj.html">Transponowanie</a>
        </nav>
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Szukaj piosenki...">
        <div id="searchResults" class="search-results"></div>
    </div>
    
    <div id="songList" class="song-list"></div> <!-- Lista piosenek -->

    <label for="toggleFormat">
        <input type="checkbox" id="toggleFormat">
        Zmień format wyświetlania
    </label>

    <div class="song">
        <h1>{{ song.title }}</h1>
        <p><strong>Autor:</strong> {{ song.author }}</p>
        <p><strong>Tagi:</strong> {{ song.tag }}</p>
        <p><strong>Intro:</strong> {{ song.intro }}</p>

        
        <div class="song-lyrics">
            {% for chord, lyric in song.chords_and_lyrics %}
                <div class="song-line">
                    <div class="chords">{{ chord if chord != '' else '' }}</div>
                    <div class="lyrics">{{ lyric if lyric != '' else '' }}</div>
                </div>
            {% endfor %}
        </div>

        <!-- Sekcja związana z YouTube -->
        <div id="video-thumbnail-container"></div>
        <div id="iframeContainer" style="display: none;"></div>

        <script>
            const youtubeLink = "{{ song.link }}"; // Use the song's link if available
        
            window.onload = () => {
                const videoId = extractVideoId(youtubeLink);
                
                if (videoId) {
                    const thumbnail = `<img src="https://img.youtube.com/vi/${videoId}/hqdefault.jpg" alt="YouTube video thumbnail" width="560" height="315" id="video-thumbnail" onclick="loadVideo('${videoId}')">`;
                    document.getElementById('video-thumbnail-container').innerHTML = thumbnail;
                } else {
                    alert('Nieprawidłowy link do YouTube');
                }
            };
        
            function extractVideoId(url) {
                const regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
                const match = url.match(regex);
                return match ? match[1] : null;
            }
        
            function loadVideo(videoId) {
                document.getElementById('video-thumbnail-container').style.display = 'none';
                const iframe = `<iframe width="560" height="315" src="https://www.youtube.com/embed/${videoId}?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>`;
                document.getElementById('iframeContainer').innerHTML = iframe;
                document.getElementById('iframeContainer').style.display = 'block';
            }

            // Funkcja do przełączania formatu
            function initFormatToggle() {
                const toggleCheckbox = document.getElementById("toggleFormat");
                toggleCheckbox.addEventListener("change", function() {
                    const songLines = document.querySelectorAll(".song-line");
                    songLines.forEach(line => {
                        if (this.checked) {
                            line.classList.remove("horizontal");
                            line.classList.add("vertical");
                        } else {
                            line.classList.remove("vertical");
                            line.classList.add("horizontal");
                        }
                    });
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                initFormatToggle();
            });
        </script>

        <!-- Lista piosenek o tym samym tagu -->
        <h3>Inne piosenki z tego samego tagu:</h3>
        <ul id="related-songs-list">
            {% for song_link in related_songs %}
                <li>
                    <a href="../output/{{ song_link.title | replace(' ', '-') | replace(',', '') | replace(':', '') | replace('ł', 'l') }}.html" class="song-link">
                        {{ song_link.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
